	body {
		background-image: url("http://pzam.bitbucket.io/files/bg.jpg");
		font-family: "courier new";
	}
	p
	{
		background-color: #FFFFFF;
		padding-bottom: 12px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 12px;
	}

	h4
	{
		background-color: #FFFFFF;
		padding-bottom: 12px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 12px;
	}

	li
	{
		background-color: #FFFFFF;
		padding-bottom: 12px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 12px;
	}

	.page {
		color: #666;
		font-family: inherit;
		font-size: 24px;
		padding-bottom: 12px;
		padding-left: 32px;
		padding-right: 12px;
		padding-top: 12px;
	}

	.sidebar {
		background-color: #FFFFFF;
		border-color: #000000;
		border-style: dashed;
		border-width: 1px;
		font-family: inherit;
		padding: 12px;

	}

@media only screen and (min-width: 1400px){
	
	.page {
		display: table-cell;
		height:100%;
		vertical-align: top;
		max-width: 900px;
	}

	.sidebar {
		display: table-cell;
		vertical-align: top;
		top: 17px;
		left: 1037px;
		width: 300px;
	}
	.pic
	{
		position: absolute;
		left: 830px;
		top: 69px;
	}

	#moveable {
		position: absolute;
		z-index: 9;
	}
}